.row {
	margin-top: -15px;
	padding: 0 5px;
}

.clickable {
	cursor: pointer;
}

.panel-heading div {
	margin-top: -18px;
	font-size: 15px;
}

.panel-heading div span {

	margin-left: 5px;
}

.error{

	color:#ffffff;
	font-size:18px
}

.panel-body {
	display: none;
}

html, body {
	/*css for full size background image*/
/*	background: url(@{'/public/images/InfographiQ.png'}) no-repeat center center fixed;
	/*background: #f5f5f5 no-repeat center center fixed;*/
	background-color: #304A6C;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: #38383A;
	font: 15px Helvetica Neue,Helvetica,Arial,sans-serif;
}

h3 {
	text-align: center;
	padding-left: 10px;
	font: 15px Helvetica Neue, Helvetica,Arial,sans-serif; 
	font-weight: bold;
	
}

label {
	font: 14px Helvetica Neue, Helvetica,Arial,sans-serif; 
	font-weight: bold;
}


.ui.steps .step .title {
		font: 18px Helvetica Neue, Helvetica,Arial,sans-serif; 
}

.ui.steps .step.active .title {
  color: #0b0d0b;
}

.ui.steps .step.completed > .icon:before,
.ui.ordered.steps .step.completed:before {
  color: #5bbd72;
}


h4 {
	text-align: center;
	padding-left: 10px;
	color: #ffffff;
}

.ui.horizontal.divider{	
	font: 14px Helvetica Neue, Helvetica,Arial,sans-serif; 
	font-weight: bold;
	
}

th{
	font: 15px Helvetica Neue, Helvetica,Arial,sans-serif; 
	text-align: center;
	background-color:#ffffff;
}

td{
	font: 13px Helvetica Neue,Helvetica,Arial,sans-serif
	text-align: center;
	padding: 3px 2px;
}

img{
	cursor:pointer
}

.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis path {
	fill: none;
	stroke: #000;
}

.dot {
  stroke: #000;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

select {
	border-radius: 5px;
}

#diagramType {
	width: 250px;
	height: 25px;
}

#step {
	text-align: center;
}

.selectDropdown {
	width: 110px;
	height: 25px;
	text-align:center;
}

option {
	background-color: #ffffff;
	border-color: #000000;
}

#axis-table > tbody > tr > td {
border-top: 0 solid #ddd;
}
.bar {
  fill: orange;
}

.bar:hover {
  fill: orangered ;
}


.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

.popover {
max-width: 276px;
padding: 1px;
font-family: Helvetica Neue, Helvetica,Arial,sans-serif; 
font-size: 15px;
font-weight: normal;
line-height: 1.42857143;
text-align: left;
white-space: normal;


}

.tour-step-backdrop {
background: #ffffff;
}


h3.popover-title {
	
font-weight: bold;
padding: 15px 20px;
font-size: 20px;
color: #ffffff;
font-stroke: normal;
background-color: #838383;
border-bottom: 1px solid #ebebeb;
border-color: #838383;
}

button.btn.btn-sm.btn-default {
padding: 5px 10px;
font-size: 15px;
line-height: 1.5;
border-radius: 3px;
}


/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}
.arc path {
  stroke: #fff;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.ui.steps {
	padding: 10px 5px;
}

#stepBar {
display: block !important;
}

#stepOne {
	width: 24%;
	cursor: pointer;
}

#stepTwo {
	width: 39%;
	cursor: pointer;
}

#stepThree {
	width: 37%;
}

#backTD {
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

#visTD {
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

#table_with_axis_dropdowns > td {
background-color: #eeeeee;
}

.show-on-hover:hover > ul.dropdown-menu {
    display: block;    
}

body {
    padding-top: 1em;
	}

.ui.stepBar{
 position: fixed;
  top: 50%;
  left: 50%;
  display: table-cell;
  vertical-align: middle;
}
.ui.step {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -100px;
}
.ui.custom.step {
font color: #34495e; 
active-step 
}


.ui.demo.sidebar {
  background-color: #304A6C;

}
.ui.button.toggle {
  position: fixed; 
  margin-left:150px;
margin-top: 650px;
z-index: 500;
background-color: #34495e; 
}
.ui.left.sidebar {
  background-color: #304A6C; 
}

.ui.custom.sidebar {
  width: 7% !important;
  
}

.ui.bottom.menu {
text-align: center;
}

button#proceed-btn.ui.primary.button {
	font: 14px Helvetica Neue, Helvetica,Arial,sans-serif; 
	font-weight: bold;
}

select.ui.dropdown {
 	font-size: 13px;
 	height: 20px;
 	padding: 1px;
 	border-radius: 4px;
    visibility: visible;
    line-height: 1;
    text-align: right;
    border: 1px solid #BDC3C7;
    background-color: #BDC3C7;
    color: #2B4040;
 }

option {
	background-color: #BDC3C7;
	border-radius: 4px;
}

background-image {
	opacity: 0.2;
}
table.fixed { 
	table-layout:fixed;
	 }
	 
table.fixed td {
	overflow: hidden; 
	}

table.customed
{
	width:30%; 
    margin-left:35%; 
    margin-right:35%;
}

#add{
	position: absolute;
    right: 340px;
    bottom: 25px;
}
#minus{
	position: absolute;
    right: 310px;
    bottom: 25px;
}