
.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  width: 200px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;  
  flex-direction:column;
  justify-content: space-around;
}


.flex-item {
  padding: 5px;
  min-width:0;
  min-height:0;
  width: 20%;
  margin-top: 10px;
  color: white;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
}

.flex-container2 {
  padding: 0;
  margin: 0;
  list-style: none;
  width: 60%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction:row;
  justify-content: space-around;
}

.flex-item2 {
  padding: 5px;
  min-width:0;
  min-height:0;
  width: 100%;
  margin-top: 10px;
  color: black;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
}
